@CHARSET "UTF-8";
/*==========================================
======== GRILLE CLASSIQUE ET PIECES ========
===========================================*/
table.djambigrid {
  margin: 0 auto;}
.sticky-header th.graduation, .djambigrid th.graduation {
  background-color: #fff;
  color: #666;
  border: 2px solid #999;
  border-top: 0;
  text-align: center;}
.djambigrid tbody th.graduation {
  vertical-align: middle;
  text-align: right;}
.djambigrid .cell {
  height: 50px;
  width: 50px;
  padding: 0;
  background-color: #eee;}
.djambigrid  td.cell.std, .djambigrid td.cell.throne {
  border: 2px solid #999;
  text-align: center;
  vertical-align: middle;}
.djambigrid div.piece {
  border-radius: 21px;
  border: 2px solid #ccc;
  box-shadow: 2px 2px 2px #000;
  background: #CCC none;
  font-weight: bold;
  height: 32px;
  margin: 0 auto;
  overflow: hidden;
  padding: 3px 3px;
  width: 32px;
  text-align: center;}
.djambigrid div.piece input, .djambigrid div.piece img {
  margin: -2px;
  display: block;}
.djambigrid div.piece input {
  border: 0;
  background: none;
  position: relative;}
span.faction {
  border: 1px solid #999;
  border-radius: 5px;}
/* Jaunes */
.djambigrid div.piece.jaune-origin {
  border-color: #fc0;}
.djambigrid div.piece.jaune-control, .faction.jaune, .djambigrid .change.jaune .order {
  background-color: #fc0;
  color: #000;}
/* Rouges */
.djambigrid div.piece.rouge-origin {
  border-color: #f33;}
.djambigrid div.piece.rouge-control, .faction.rouge, .djambigrid .change.rouge .order {
  background-color: #f33;
  color: #000;}
/* Bleus */
.djambigrid div.piece.bleu-origin {
  border-color: #9cf;}
.djambigrid div.piece.bleu-control, .faction.bleu, .djambigrid .change.bleu .order {
  background-color: #9cf;
  color: #000;}
/* Verts */
.djambigrid div.piece.vert-origin {
  border-color: #9d0;}
.djambigrid div.piece.vert-control, .faction.vert, .djambigrid .change.vert .order {
  background-color: #9d0;
  color: #000;}
/* Morts */
.djambigrid div.piece.dead {
  border-color: #333;
  background-color: #333;
  color: #999;}
/* Positionnables */
.djambigrid div.piece.positionable {
  position: absolute;
  top: -50px;}
/* Interactions sur les cellules */
.djambigrid .cell.reachable {
  background-color: #ddd;}
.djambigrid .dragging .cell.reachable, .djambigrid .dragging .cell.with-movable-piece {
  background-color: #eee;}
.djambigrid .cell.with-movable-piece {
  background-color: #ccc;}
.djambigrid .cell.unselectable {
  background-color: #eee;}
.djambigrid .cell.unselectable.with-movable-piece {
  background-color: #ddd;}
.djambigrid .cell.unselectable.with-selected-piece {
  background-color: #000;}
.djambigrid .dragging .cell.reachable.selectable, .djambigrid .dragging .cell.reachable.selectable.with-piece .piece {
  background: #ddd url(img/apply.png) no-repeat center center;}
.djambigrid .cell.reachable.selectable:hover, .djambigrid .dragging .cell.reachable.selected, .djambigrid .dragging .cell.reachable.selected.with-piece .piece {
  background-color: #666;}
.djambigrid div.destination-layer {
  position: relative;
  z-index: 2;
  border-radius: 21px;
  box-shadow: 2px 2px 2px #999;
  background-color: rgba(255,255,255,0.5);
  height: 36px;
  margin: 0 auto;
  padding: 3px 3px;
  width: 36px;}
.djambigrid .cell.with-piece div.destination-layer {
  margin-bottom: -42px;}
.djambigrid .cell.throne {
  background: #000 url(img/throne.png) no-repeat center center;}
.djambigrid input[type=image] {
  padding: 0;
  margin: 0;
  border: 0;}
/* Pièces */
.piece.militant, .links li a.add-djambi-game, a.play-djambi-game {
  background: url(img/militant16.png) no-repeat 2px 50%;}
.piece.leader {
  background: url(img/leader16.png) no-repeat 2px 50%;}
.piece.necromobile {
  background: url(img/necromobile16.png) no-repeat 2px 50%;}
.piece.diplomate {
  background: url(img/diplomate16.png) no-repeat 2px 50%;}
.piece.assassin {
  background: url(img/assassin16.png) no-repeat 2px 50%;}
.piece.reporter {
  background: url(img/reporter16.png) no-repeat 2px 50%;}
.piece {
  padding: 0 2px 0 20px;
  white-space: nowrap;}
/*==========================================
========= AUTRES STYLES SUR LA PAGE ========
===========================================*/
.faction {
  background: url(img/leader16.png) no-repeat 4px 50%;
  padding-left: 22px;
  white-space: nowrap;}
td.faction {
  background-image: none;
  padding-left: inherit;}
td.num {
  font-weight: bold;}
th.faction {
  white-space: normal;
  font-size: 90%;}
span.faction {
  padding-right: 0.25em;}
.links li a.add-djambi-game, a.play-djambi-game, a.view-djambi-game {
  padding-left: 20px;}
table .number {
  text-align: right;}
table .total {
  font-weight: bold;
  background-color: #ccc;}
table .entete {
  font-weight: bold;}
table .locked {
  background-color: #ccc;
  text-align: center;}
ul.stats {
  list-style-type: none;}
ul.stats > li {
  margin: 1em 0;}
ul.stats table {
  margin: 0 auto;
  box-shadow: 5px 5px 5px #999;}
.rule-variant {
  background-color: #666;
  color: #fff;}
.game-option {
  background-color: #900;
  color: #fc0;}
.rule-variant, .game-option {
  font-size: 90%;
  font-variant: small-caps;
  font-weight: bold;
  white-space: nowrap;} 
span.rule-variant, span.game-option {
  float: left;
  margin: 0 0.5em 0 0;
  padding: 0 0.5em;}
.djambi .controls {
  font-size: 90%;
  text-align: center;
  margin-top: 0.5em;  }
.djambi .controls input.form-submit {
  background-color: #fff;
  color: #b00;
  font-weight: normal;
  border-width: 1px;}
.djambi .controls input.form-submit:hover {
  background-color: #ccc;
  border-width: 1px;}
.events {
  background-color: #eee;
  border-radius: 1em;
  font-size: 90%;
  margin-top: 1em !important;
  padding: 0.25em 1em;}
.djambi .players tr.me {
  background-color: #fec;
  font-weight: bold;}
.djambilog {
  width: 100%;
  margin-bottom: 1em;}
/*==========================================
======== AFFICHAGE DES DEPLACEMENTS ========
===========================================*/
.djambigrid .changes {
  margin-top: -0.5em;
  position: absolute;}
.djambigrid .changes .change {
  left: 50px;
  margin-left: -1em;
  position: relative;
  z-index: 1;}
.djambigrid .changes .order {
  background-color: #666;
  border: 2px solid #000;
  border-radius: 1em;
  color: #FFF;
  float: left;
  font-size: 80%;
  font-weight: bold;
  padding: 0.25em 0.5em;
  position: relative;
  cursor: help;
  z-index: 99;}
.djambigrid .changes .description {
  background-color: #FFF;
  border: 2px solid #000;
  box-shadow: 5px 5px 5px #999;
  font-size: 90%;
  margin-left: 1em;
  margin-top: 0.25em;
  opacity: 0.85;
  padding: 0.25em;
  text-align: left;
  border-radius: 1em;
  position: absolute;
  text-indent: 1em;
  white-space: normal;
  width: 10em;}
.djambigrid .changes .change + .change {
  margin-top: 1em;}
.djambigrid .changes .description .piece {
  white-space: normal;}
.djambigrid .cell.past-move.bleu {
  background-color: #cef;}
.djambigrid .cell.past-move.jaune {
  background-color: #fe9;}
.djambigrid .cell.past-move.vert {
  background-color: #cf6;}
.djambigrid .cell.past-move.rouge {
  background-color: #f99;}
/*==========================================
=============== AIDE EN LIGNE ==============
===========================================*/
.djambigrid .cell span.help-link, .djambigrid .dragging .cell:hover span.help-link {
  display: none;}
.djambigrid .cell span.help-link {
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  overflow: hidden;
  z-index: 10;
  margin-top: -12px;
  margin-left: -5px;
  border: 2px solid #000;}
.djambigrid .cell span.help-link a {
  cursor: help;
  display: block; 
  padding-left: 16px;
  height: 16px;
  background: url(/misc/message-16-help.png) no-repeat 0 0 #ccc;}
/*==========================================
=========== GRILLE HEXAGONALE ==============
===========================================*/
.hexagonal-grid-wrapper {
  text-align: center;
  overflow: hidden;}
.hexagonal-grid {
  margin-bottom: 20px;}
.hexagonal-grid .row {
  margin-top: -2px;
  white-space: nowrap;}
.hexagonal-grid .row.even {
  margin-left: 52px;}
.hexagonal-grid .cell {
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  overflow: visible;
  display: inline-block;
  height: 30px;
  margin-top: 18px;
  text-align: center;
  margin-left: -2px;}
.hexagonal-grid .cell.disabled {
  visibility: hidden;}
.hexagonal-grid .cell.first {
  margin-left: 0;}
.hexagonal-grid .cell-top {
  border-bottom: 20px solid #000;
  border-left: 27px solid transparent;
  border-right: 27px solid transparent;
  width: 0;
  height: 0;
  background-color: transparent;
  display: block;
  position: absolute;
  margin-top: -20px;
  margin-left: -1px;}
.hexagonal-grid .cell-top-inside {
  border-bottom: 18px solid #eee;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  width: 0;
  height: 0;
  background-color: transparent;
  display: block;
  position: absolute;
  margin-top: -18px;
  margin-left: 1px;}
.hexagonal-grid .cell-bottom {
  border-top: 20px solid #000;
  border-left: 27px solid transparent;
  border-right: 27px solid transparent;
  width: 0;
  height: 0;
  background-color: transparent;
  position: absolute;
  margin-left: -1px;
  margin-top: 30px;}
.hexagonal-grid .cell-bottom-inside {
  border-top: 18px solid #eee;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  width: 0;
  height: 0;
  background-color: transparent;
  display: block;
  position: absolute;
  margin-top: 30px;
  margin-left: 1px;}
.hexagonal-grid .cell-coordonates {
  position: absolute;
  font-size: 80%;
  padding: 2px;
  color: #666;}
.hexagonal-grid .cell:hover .cell-coordonates {
  z-index: 100;
  background-color: #666;
  color: #fff;}
.hexagonal-grid .cell-content {
  position: absolute;
  margin-top: -8px;
  margin-left: 3px;}
  
.hexagonal-grid .cell.reachable .cell-top-inside {
  border-bottom-color: #ddd;}
.hexagonal-grid .cell.reachable .cell-bottom-inside {
  border-top-color: #ddd;}
.hexagonal-grid.dragging .cell.reachable, .hexagonal-grid.dragging .cell.with-movable-piece {
  background-color: #eee;}
.hexagonal-grid.dragging .cell.reachable .cell-top-inside, 
.hexagonal-grid.dragging .cell.with-movable-piece .cell-top-inside {
  border-bottom-color: #eee;}
.hexagonal-grid.dragging .cell.reachable .cell-bottom-inside, 
.hexagonal-grid.dragging .cell.with-movable-piece .cell-bottom-inside {
  border-top-color: #eee;}
.hexagonal-grid .cell.with-movable-piece .cell-top-inside {
  border-bottom-color: #ccc;}
.hexagonal-grid .cell.with-movable-piece .cell-bottom-inside {
  border-top-color: #ccc;}
.hexagonal-grid .cell.unselectable .cell-top-inside {
  border-bottom-color: #eee;}
.hexagonal-grid .cell.unselectable .cell-bottom-inside {
  border-top-color: #eee;}
.hexagonal-grid .cell.unselectable.with-movable-piece .cell-top-inside {
  border-bottom-color: #ddd;}
.hexagonal-grid .cell.unselectable.with-selected-piece {
  background-color: #000;}
.hexagonal-grid .cell.unselectable.with-selected-piece .cell-top-inside {
  border-bottom-color: #000;}
.hexagonal-grid .cell.unselectable.with-selected-piece .cell-bottom-inside {
  border-top-color: #000;}
.hexagonal-grid .cell.throne {
  background-image: url(img/throne30.png);
  background-color: #fff;}
.hexagonal-grid .cell.throne .cell-top-inside {
  border-bottom-color: #fff;}
.hexagonal-grid .cell.throne .cell-bottom-inside {
  border-top-color: #fff;}
.hexagonal-grid .cell.past-move.jaune .cell-top-inside {
  border-bottom-color: #fe9;}
.hexagonal-grid .cell.past-move.jaune .cell-bottom-inside {
  border-top-color: #fe9;}
.hexagonal-grid .cell.past-move.rouge .cell-top-inside {
  border-bottom-color: #f99;}
.hexagonal-grid .cell.past-move.rouge .cell-bottom-inside {
  border-top-color: #f99;}
.hexagonal-grid .cell.past-move.bleu .cell-top-inside {
  border-bottom-color: #cef;}
.hexagonal-grid .cell.past-move.bleu .cell-bottom-inside {
  border-top-color: #cef;}
.hexagonal-grid .cell.past-move.vert .cell-top-inside {
  border-bottom-color: #cf6;}
.hexagonal-grid .cell.past-move.vert .cell-bottom-inside {
  border-top-color: #cf6;}
.hexagonal-grid.dragging .cell.reachable.selectable, .hexagonal-grid.dragging .cell.reachable.selectable.with-piece .piece {
  background: #ddd url(img/apply.png) no-repeat center center;}
.hexagonal-grid.dragging .cell.reachable.selectable .cell-top-inside {
  border-bottom-color: #ddd;}
.hexagonal-grid.dragging .cell.reachable.selectable .cell-bottom-inside {
  border-top-color: #ddd;}
.hexagonal-grid .cell.with-movable-piece:hover, .hexagonal-grid .cell.selectable:hover, .hexagonal-grid.dragging .cell.reachable.selected, .hexagonal-grid.dragging .cell.reachable.selected.with-piece .piece {
  background-color: #666;}
.hexagonal-grid .cell.with-movable-piece:hover .cell-top-inside, .hexagonal-grid .cell.selectable:hover .cell-top-inside, .hexagonal-grid.dragging .cell.reachable.selected .cell-top-inside {
  border-bottom-color: #666;}
.hexagonal-grid .cell.with-movable-piece:hover .cell-bottom-inside, .hexagonal-grid .cell.selectable:hover .cell-bottom-inside, .hexagonal-grid.dragging .cell.reachable.selected .cell-bottom-inside {
  border-top-color: #666;}
.hexagonal-grid.dragging .with-selected-piece .piece {
  position: absolute;
  z-index: 100;}
/*==========================================
============= TRANSITIONS ==================
===========================================*/
.djambigrid .cell {
  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  -ms-transition: background-color 1s ease;
  -o-transition: background-color 1s ease;
  transition: background-color 1s ease;}
.hexagonal-grid .cell-bottom-inside {
  -webkit-transition: border-top-color 1s ease;
  -moz-transition: border-top-color 1s ease;
  -ms-transition: border-top-color 1s ease;
  -o-transition: border-top-color 1s ease;
  transition: border-top-color 1s ease;}
.hexagonal-grid .cell-top-inside {
  -webkit-transition: border-bottom-color 1s ease;
  -moz-transition: border-bottom-color 1s ease;
  -ms-transition: border-bottom-color 1s ease;
  -o-transition: border-bottom-color 1s ease;
  transition: border-bottom-color 1s ease;}
.djambigrid .cell:hover {
  background-color: #feeec8;}
.hexagonal-grid .cell:hover .cell-top-inside {
  border-bottom-color: #feeec8;}
.hexagonal-grid .cell:hover .cell-bottom-inside {
  border-top-color: #feeec8;}
  /*==========================================
  ================== DECORATION ==============
  ===========================================*/
.sidebar-first #block-views-citation-du-jour-block, .two-sidebars #block-views-citation-du-jour-block {
  background: url(img/background-sd.png) scroll no-repeat 0 0 transparent;
  padding-top: 1460px;}
.machiavel {
  border-radius: 0.5em 1em 0.5em 1em;
  background: #EEEEEE url("img/machiavel.png") no-repeat -6px -6px;
  font-weight: bold;
  min-height: 25px;
  padding: 0.5em 1em 0.5em 60px;}