@CHARSET "UTF-8";
table.djambigrid {
  margin: 0em auto;}
.sticky-header th.graduation, .djambigrid th.graduation {
  background-color: #fff;
  color: #666;
  border: 2px solid #999;
  border-top: 0px;
  text-align: center;}
.djambigrid tbody th.graduation {
  vertical-align: middle;
  text-align: right;}
.djambigrid .cell.std, .djambigrid .cell.throne {
  height: 50px;
  width: 50px;
  border: 2px solid #999;
  padding: 0;
  background-color: #eee;
  text-align: center;
  vertical-align: middle;}
.djambigrid div.piece {
  border-radius: 21px;
  border: 2px solid #ccc;
  box-shadow: 2px 2px 2px #000;
  background-color: #CCC;
  font-weight: bold;
  height: 32px;
  margin: 0 auto;
  overflow: hidden;
  padding: 3px 3px;
  width: 32px;
  text-align: center;}
.djambigrid div.piece input, .djambigrid div.piece img {
  margin: -2px;}
.djambigrid div.piece input {
  border: 0px;
  background: none;
  position: relative;}
span.faction {
  border: 1px solid #999;
  border-radius: 5px;}
.djambigrid div.piece.jaune-origin {
  border-color: #fc0;}
.djambigrid div.piece.jaune-control, .faction.jaune, .djambigrid .change.jaune .order {
  background-color: #fc0;
  color: #000;}
.djambigrid .cell.recent-change.jaune {
  background-color: #fe9;}
.djambigrid div.piece.rouge-origin {
  border-color: #f33;}
.djambigrid div.piece.rouge-control, .faction.rouge, .djambigrid .change.rouge .order {
  background-color: #f33;
  color: #000;}
.djambigrid .cell.recent-change.rouge {
  background-color: #f99;}
.djambigrid div.piece.bleu-origin {
  border-color: #9cf;}
.djambigrid div.piece.bleu-control, .faction.bleu, .djambigrid .change.bleu .order {
  background-color: #9cf;
  color: #000;}
.djambigrid .cell.recent-change.bleu {
  background-color: #cef;}
.djambigrid div.piece.vert-origin {
  border-color: #9d0;}
.djambigrid div.piece.vert-control, .faction.vert, .djambigrid .change.vert .order {
  background-color: #9d0;
  color: #000;}
.djambigrid .cell.recent-change.vert {
  background-color: #cf6;}
.djambigrid div.piece.dead {
  border-color: #333;
  background-color: #333;
  color: #999;}
.djambigrid .cell.reachable {
  background-color: #ddd;}
.djambigrid .dragging .cell.reachable, .djambigrid .dragging .cell.with-movable-piece {
  background-color: #eee;}
.djambigrid .cell.with-movable-piece {
  background-color: #ccc;}
.djambigrid .cell.unselectable {
  background-color: #eee;}
.djambigrid .cell.unselectable.with-movable-piece {
  background-color: #ddd;}
.djambigrid .cell.unselectable.with-selected-piece {
  background-color: #000;}
.djambigrid .dragging .cell.reachable.selectable, .djambigrid .dragging .cell.reachable.selectable.with-piece .piece {
  background: #ddd url(img/apply.png) no-repeat center center;}
.djambigrid div.destination-layer {
  position: relative;
  z-index: 2;
  border-radius: 21px;
  box-shadow: 2px 2px 2px #999;
  background-color: rgba(255,255,255,0.5);
  height: 36px;
  margin: 0 auto;
  padding: 3px 3px;
  width: 36px;}
.djambigrid .cell.with-piece div.destination-layer {
  margin-bottom: -42px;}
.djambigrid .cell.throne {
  background: #000 url(img/throne.png) no-repeat center center;}
.djambigrid input[type=image] {
  padding: 0;
  margin: 0;}
.faction {
  background: url(img/leader16.png) no-repeat 4px 50%;
  padding-left: 22px;
  white-space: nowrap;}
span.faction {
  padding-right: 0.25em;}
span.piece {
  padding: 0 2px 0 20px;
  white-space: nowrap;}
.links li a.add-djambi-game, a.play-djambi-game, a.view-djambi-game {
  padding-left: 20px;}
span.piece.militant, .links li a.add-djambi-game, a.play-djambi-game {
  background-image: url(img/militant16.png);
  background-repeat: no-repeat;
  background-position: 2px 50%;}
span.piece.leader {
  background: url(img/leader16.png) no-repeat 2px 50%;}
span.piece.necromobile {
  background: url(img/necromobile16.png) no-repeat 2px 50%;}
span.piece.diplomate {
  background: url(img/diplomat16.png) no-repeat 2px 50%;}
span.piece.assassin {
  background: url(img/assassin16.png) no-repeat 2px 50%;}
span.piece.reporter, a.view-djambi-game {
  background: url(img/reporter16.png) no-repeat 2px 50%;}
table .number {
  text-align: right;}
table .total {
  font-weight: bold;
  background-color: #ccc;}
table .entete {
  font-weight: bold;}
table .locked {
  background-color: #ccc;
  text-align: center;}
ul.stats {
  list-style-type: none;}
ul.stats > li {
  margin: 1em 0;}
ul.stats table {
  margin: 0 auto;
  box-shadow: 5px 5px 5px #999;}
.rule-variant {
  background-color: #666;
  color: #fff;}
.game-option {
  background-color: #900;
  color: #fc0;}
.rule-variant, .game-option {
  font-size: 90%;
  font-variant: small-caps;
  font-weight: bold;
  white-space: nowrap;} 
span.rule-variant, span.game-option {
  float: left;
  margin: 0 0.5em 0 0;
  padding: 0 0.5em;}
.djambigrid .changes {
  margin-top: -0.5em;
  position: absolute;}
.djambigrid .changes .change {
  left: 50px;
  margin-left: -1em;
  position: relative;
  z-index: 1;}
.djambigrid .changes .order {
  background-color: #666;
  border: 2px solid #000;
  border-radius: 1em;
  color: #FFF;
  float: left;
  font-size: 80%;
  font-weight: bold;
  padding: 0.25em 0.5em;
  position: relative;
  cursor: help; 
  z-index: 99;}
.djambigrid .changes .description {
  background-color: #FFF;
  border: 2px solid #000;
  box-shadow: 5px 5px 5px #999;
  font-size: 90%;
  margin-left: 1em;
  margin-top: 0.25em;
  opacity: 0.85;
  padding: 0.25em;
  text-align: left;
  border-radius: 1em;
  position: absolute;
  text-indent: 1em;
  width: 10em;}
.djambigrid .changes .change + .change {
  margin-top: 1em;}
.djambigrid .changes .description .piece {
  white-space: normal;}
.djambi .controls {
  font-size: 90%;
  text-align: center;
  margin-top: 0.5em;  }
.djambi .controls input.form-submit {
  background-color: #fff;
  color: #b00;
  font-weight: normal;
  border-width: 1px;}
.djambi .controls input.form-submit:hover {
  background-color: #ccc;
  border-width: 1px;}
.events {
  background-color: #EEE;
  border-radius: 1em;
  box-shadow: 5px 5px 5px #999;
  font-size: 90%;
  margin-top: 1em !important;
  padding: 0.25em 1em;}
.events h3 {
  text-align: center;
  border-bottom: 1px solid #999;}
.djambi .players tr.me {
  background-color: #fec;
  font-weight: bold;}
.machiavel {
  border-radius: 0.5em 1em 0.5em 1em;
  box-shadow: 2px 2px 2px #999;
  background-color: #EEEEEE;
  background-image: url("img/machiavel.png");
  background-position: -6px -6px;
  background-repeat: no-repeat;
  border: 3px solid #999;
  font-variant: small-caps;
  font-weight: bold;
  min-height: 25px;
  padding: 0.5em 1em 0.5em 60px;}