@CHARSET "UTF-8";
table.djambigrid {
  margin: 0em auto;}
.sticky-header th.graduation, .djambigrid th.graduation {
  background-color: #fff;
  color: #666;
  border: 2px solid #999;
  border-top: 0px;
  text-align: center;}
.djambigrid tbody th.graduation {
  vertical-align: middle;
  text-align: right;}
.djambigrid .cell {
  height: 50px;
  width: 50px;
  padding: 0;
  background-color: #eee;}
.djambigrid  td.cell.std, .djambigrid td.cell.throne {
  border: 2px solid #999;
  text-align: center;
  vertical-align: middle;}
.djambigrid div.piece {
  background-image: none;
  border-radius: 21px;
  border: 2px solid #ccc;
  box-shadow: 2px 2px 2px #000;
  background-color: #CCC;
  font-weight: bold;
  height: 32px;
  margin: 0 auto;
  overflow: hidden;
  padding: 3px 3px;
  width: 32px;
  text-align: center;}
.djambigrid div.piece input, .djambigrid div.piece img {
  margin: -2px;
  display: block;}
.djambigrid div.piece input {
  border: 0px;
  background: none;
  position: relative;}
span.faction {
  border: 1px solid #999;
  border-radius: 5px;}
.djambigrid div.piece.jaune-origin {
  border-color: #fc0;}
.djambigrid div.piece.jaune-control, .faction.jaune, .djambigrid .change.jaune .order {
  background-color: #fc0;
  color: #000;}
.djambigrid .cell.recent-change.jaune {
  background-color: #fe9;}
.djambigrid div.piece.rouge-origin {
  border-color: #f33;}
.djambigrid div.piece.rouge-control, .faction.rouge, .djambigrid .change.rouge .order {
  background-color: #f33;
  color: #000;}
.djambigrid .cell.recent-change.rouge {
  background-color: #f99;}
.djambigrid div.piece.bleu-origin {
  border-color: #9cf;}
.djambigrid div.piece.bleu-control, .faction.bleu, .djambigrid .change.bleu .order {
  background-color: #9cf;
  color: #000;}
.djambigrid .cell.recent-change.bleu {
  background-color: #cef;}
.djambigrid div.piece.vert-origin {
  border-color: #9d0;}
.djambigrid div.piece.vert-control, .faction.vert, .djambigrid .change.vert .order {
  background-color: #9d0;
  color: #000;}
.djambigrid .cell.recent-change.vert {
  background-color: #cf6;}
.djambigrid div.piece.dead {
  border-color: #333;
  background-color: #333;
  color: #999;}
.djambigrid .cell.reachable {
  background-color: #ddd;}
.djambigrid .dragging .cell.reachable, .djambigrid .dragging .cell.with-movable-piece {
  background-color: #eee;}
.djambigrid .cell.with-movable-piece {
  background-color: #ccc;}
.djambigrid .cell.unselectable {
  background-color: #eee;}
.djambigrid .cell.unselectable.with-movable-piece {
  background-color: #ddd;}
.djambigrid .cell.unselectable.with-selected-piece {
  background-color: #000;}
.djambigrid .dragging .cell.reachable.selectable, .djambigrid .dragging .cell.reachable.selectable.with-piece .piece {
  background: #ddd url(img/apply.png) no-repeat center center;}
.djambigrid div.destination-layer {
  position: relative;
  z-index: 2;
  border-radius: 21px;
  box-shadow: 2px 2px 2px #999;
  background-color: rgba(255,255,255,0.5);
  height: 36px;
  margin: 0 auto;
  padding: 3px 3px;
  width: 36px;}
.djambigrid .cell.with-piece div.destination-layer {
  margin-bottom: -42px;}
.djambigrid .cell.throne {
  background: #000 url(img/throne.png) no-repeat center center;}
.djambigrid input[type=image] {
  padding: 0;
  margin: 0;
  border: 0px;}
.faction {
  background: url(img/leader16.png) no-repeat 4px 50%;
  padding-left: 22px;
  white-space: nowrap;}
span.faction {
  padding-right: 0.25em;}
.piece {
  padding: 0 2px 0 20px;
  white-space: nowrap;}
.links li a.add-djambi-game, a.play-djambi-game, a.view-djambi-game {
  padding-left: 20px;}
.piece.militant, .links li a.add-djambi-game, a.play-djambi-game {
  background-image: url(img/militant16.png);
  background-repeat: no-repeat;
  background-position: 2px 50%;}
.piece.leader {
  background: url(img/leader16.png) no-repeat 2px 50%;}
.piece.necromobile {
  background: url(img/necromobile16.png) no-repeat 2px 50%;}
.piece.diplomate {
  background: url(img/diplomat16.png) no-repeat 2px 50%;}
.piece.assassin {
  background: url(img/assassin16.png) no-repeat 2px 50%;}
.piece.reporter, a.view-djambi-game {
  background: url(img/reporter16.png) no-repeat 2px 50%;}
table .number {
  text-align: right;}
table .total {
  font-weight: bold;
  background-color: #ccc;}
table .entete {
  font-weight: bold;}
table .locked {
  background-color: #ccc;
  text-align: center;}
ul.stats {
  list-style-type: none;}
ul.stats > li {
  margin: 1em 0;}
ul.stats table {
  margin: 0 auto;
  box-shadow: 5px 5px 5px #999;}
.rule-variant {
  background-color: #666;
  color: #fff;}
.game-option {
  background-color: #900;
  color: #fc0;}
.rule-variant, .game-option {
  font-size: 90%;
  font-variant: small-caps;
  font-weight: bold;
  white-space: nowrap;} 
span.rule-variant, span.game-option {
  float: left;
  margin: 0 0.5em 0 0;
  padding: 0 0.5em;}
.djambigrid .changes {
  margin-top: -0.5em;
  position: absolute;}
.djambigrid .changes .change {
  left: 50px;
  margin-left: -1em;
  position: relative;
  z-index: 1;}
.djambigrid .changes .order {
  background-color: #666;
  border: 2px solid #000;
  border-radius: 1em;
  color: #FFF;
  float: left;
  font-size: 80%;
  font-weight: bold;
  padding: 0.25em 0.5em;
  position: relative;
  cursor: help; 
  z-index: 99;}
.djambigrid .changes .description {
  background-color: #FFF;
  border: 2px solid #000;
  box-shadow: 5px 5px 5px #999;
  font-size: 90%;
  margin-left: 1em;
  margin-top: 0.25em;
  opacity: 0.85;
  padding: 0.25em;
  text-align: left;
  border-radius: 1em;
  position: absolute;
  text-indent: 1em;
  width: 10em;}
.djambigrid .changes .change + .change {
  margin-top: 1em;}
.djambigrid .changes .description .piece {
  white-space: normal;}
.djambi .controls {
  font-size: 90%;
  text-align: center;
  margin-top: 0.5em;  }
.djambi .controls input.form-submit {
  background-color: #fff;
  color: #b00;
  font-weight: normal;
  border-width: 1px;}
.djambi .controls input.form-submit:hover {
  background-color: #ccc;
  border-width: 1px;}
.events {
  background-color: #EEE;
  border-radius: 1em;
  box-shadow: 5px 5px 5px #999;
  font-size: 90%;
  margin-top: 1em !important;
  padding: 0.25em 1em;}
.events h3 {
  text-align: center;
  border-bottom: 1px solid #999;}
.djambi .players tr.me {
  background-color: #fec;
  font-weight: bold;}
.djambigrid .cell span.help-link, .djambigrid .dragging .cell:hover span.help-link {
  display: none;}
.djambigrid .cell:hover span.help-link, .djambigrid .cell:focus span.help-link {
  float: left;
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  overflow: hidden;
  z-index: 10;
  margin-left: 40px;
  margin-top: -5px;}
.djambigrid .cell:hover span.help-link a, .djambigrid .cell:focus span.help-link a {
  cursor: help;
  display: block; 
  padding-left: 18px;
  height: 18px;
  background: url(/misc/message-16-help.png) no-repeat 1px 1px #000;}
.machiavel {
  border-radius: 0.5em 1em 0.5em 1em;
  box-shadow: 2px 2px 2px #999;
  background-color: #EEEEEE;
  background-image: url("img/machiavel.png");
  background-position: -6px -6px;
  background-repeat: no-repeat;
  border: 3px solid #999;
  font-variant: small-caps;
  font-weight: bold;
  min-height: 25px;
  padding: 0.5em 1em 0.5em 60px;}
  
.hexagonal-grid-wrapper {
  text-align: center;
  overflow: hidden;}
.hexagonal-grid {
  margin: 20px 0;}
.hexagonal-grid .row {
  margin-top: -2px;}
.hexagonal-grid .row.even {
  margin-left: 52px;}
.hexagonal-grid .cell {
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  overflow: visible;
  display: inline-block;
  height: 30px;
  margin-top: 18px;
  text-align: center;
  margin-left: -2px;}
.hexagonal-grid .cell.disabled {
  visibility: hidden;}
.hexagonal-grid .cell.first {
  margin-left: 0;}
.hexagonal-grid .cell-top {
  border-bottom: 20px solid #000;
  border-left: 27px solid transparent;
  border-right: 27px solid transparent;
  width: 0;
  height: 0;
  background-color: transparent;
  display: block;
  position: absolute;
  margin-top: -20px;
  margin-left: -1px;}
.hexagonal-grid .cell-top-inside {
  border-bottom: 18px solid #eee;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  width: 0;
  height: 0;
  background-color: transparent;
  display: block;
  position: absolute;
  margin-top: -18px;
  margin-left: 1px;}
.hexagonal-grid .cell-bottom {
  border-top: 20px solid #000;
  border-left: 27px solid transparent;
  border-right: 27px solid transparent;
  width: 0;
  height: 0;
  background-color: transparent;
  position: absolute;
  margin-left: -1px;
  margin-top: 30px;}
.hexagonal-grid .cell-bottom-inside {
  border-top: 18px solid #eee;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  width: 0;
  height: 0;
  background-color: transparent;
  display: block;
  position: absolute;
  margin-top: 30px;
  margin-left: 1px;}
.hexagonal-grid .cell-coordonates {
  position: absolute;
  font-size: 80%;
  padding: 2px;
  color: #666;}
.hexagonal-grid .cell:hover .cell-coordonates {
  z-index: 100;
  background-color: #666;
  color: #fff;}
.hexagonal-grid .cell-content {
  position: absolute;
  margin-top: -8px;
  margin-left: 3px;}
  
.hexagonal-grid .cell.reachable .cell-top-inside {
  border-bottom-color: #ddd;}
.hexagonal-grid .cell.reachable .cell-bottom-inside {
  border-top-color: #ddd;}
.hexagonal-grid.dragging .cell.reachable, .hexagonal-grid.dragging .cell.with-movable-piece {
  background-color: #eee;}
.hexagonal-grid.dragging .cell.reachable .cell-top-inside, 
.hexagonal-grid.dragging .cell.with-movable-piece .cell-top-inside {
  border-bottom-color: #eee;}
.hexagonal-grid.dragging .cell.reachable .cell-bottom-inside, 
.hexagonal-grid.dragging .cell.with-movable-piece .cell-bottom-inside {
  border-top-color: #eee;}
.hexagonal-grid .cell.with-movable-piece .cell-top-inside {
  border-bottom-color: #ccc;}
.hexagonal-grid .cell.with-movable-piece .cell-bottom-inside {
  border-top-color: #ccc;}
.hexagonal-grid .cell.unselectable .cell-top-inside {
  border-bottom-color: #eee;}
.hexagonal-grid .cell.unselectable .cell-bottom-inside {
  border-top-color: #eee;}
.hexagonal-grid .cell.unselectable.with-movable-piece .cell-top-inside {
  border-bottom-color: #ddd;}
.hexagonal-grid.dragging .cell.unselectable.with-movable-piece .cell-bottom-inside {
  border-top-color: #ddd;}
.hexagonal-grid .cell.unselectable.with-selected-piece {
  background-color: #000;}
.hexagonal-grid .cell.unselectable.with-selected-piece .cell-top-inside {
  border-bottom-color: #000;}
.hexagonal-grid .cell.unselectable.with-selected-piece .cell-bottom-inside {
  border-top-color: #000;}
.hexagonal-grid .cell.throne {
  background-image: url(img/throne30.png);
  background-color: #fff;}
.hexagonal-grid .cell.throne .cell-top-inside {
  border-bottom-color: #fff;}
.hexagonal-grid .cell.throne .cell-bottom-inside {
  border-top-color: #fff;}
.hexagonal-grid .cell.recent-change.jaune .cell-top-inside {
  border-bottom-color: #fe9;}
.hexagonal-grid .cell.recent-change.jaune .cell-bottom-inside {
  border-top-color: #fe9;}
.hexagonal-grid .cell.recent-change.rouge .cell-top-inside {
  border-bottom-color: #f99;}
.hexagonal-grid .cell.recent-change.rouge .cell-bottom-inside {
  border-top-color: #f99;}
.hexagonal-grid .cell.recent-change.bleu .cell-top-inside {
  border-bottom-color: #cef;}
.hexagonal-grid .cell.recent-change.bleu .cell-bottom-inside {
  border-top-color: #cef;}
.hexagonal-grid .cell.recent-change.vert .cell-top-inside {
  border-bottom-color: #cf6;}
.hexagonal-grid .cell.recent-change.vert .cell-bottom-inside {
  border-top-color: #cf6;}
.hexagonal-grid.dragging .cell.reachable.selectable, .hexagonal-grid.dragging .cell.reachable.selectable.with-piece .piece {
  background: #ddd url(img/apply.png) no-repeat center center;}
.hexagonal-grid.dragging .cell.reachable.selectable .cell-top-inside {
  border-bottom-color: #ddd;}
.hexagonal-grid.dragging .cell.reachable.selectable .cell-bottom-inside {
  border-top-color: #ddd;}
.hexagonal-grid.dragging .with-selected-piece .piece {
  position: absolute;
  z-index: 100;}
/*==========================================
============ LISTES SPECIALES ==============
===========================================*/
ul.cases {
  text-align: center;}
ul.cases li {
  background-color: #eee;
  border: 2px solid #999;
  border-radius: 0.5em;
  color: #666;
  display: inline-block;
  font-size: 90%;
  list-style-type: none;
  margin: 0.5em;
  padding: 0.5em;
  text-align: center;
  vertical-align: top;
  width: 150px;
  min-height: 80px;
  overflow: hidden;
  line-height: 120%;
  -moz-transition: color 500ms ease, background-color 500ms ease;
  -webkit-transition: color 500ms ease, background-color 500ms ease;
  transition: color 500ms ease, background-color 500ms ease;}
ul.cases li a {
  font-weight: normal;}
ul.cases li.more {
  background-color: transparent;
  border: none;}
ul.cases li .big {
  display: block;
  margin: 0.25em 0;}
ul.cases li img, ul.cases span.piece {
  display: block;
  margin: -110px auto 0;
  border-radius: 55px;
  border: 5px solid #000;
  padding: 8px;
  background-color: #fc0;
  box-shadow: 5px 5px 5px #999;
  -moz-transition: margin 500ms ease;
  -webkit-transition: margin 500ms ease;
  transition: margin 500ms ease;}
ul.cases a span.piece.dead {
  background-color: #000;
  height: 70px;
  width: 90px;
  font-size: 500%;
  color: #999;
  padding: 28px 8px 8px;}
ul.cases li:hover, ul.cases li:focus {
  color: #fff;
  background-color: #666;}
ul.cases li a:hover, ul.cases li:hover a {
  color: #fff;
  text-decoration: none;}
ul.cases li:hover img, ul.cases li:hover span.piece, ul.cases li:focus img, ul.cases li:focus span.piece {
  margin-top: 0px;
  box-shadow: 5px 5px 5px #333;}
/*==========================================
================== DECORATION ==============
===========================================*/
#block-views-citation-du-jour-block {
  border-top: 3px solid #ccc;
  background: url(img/background.png) scroll no-repeat 0px 0px #fff;
  padding-top: 1460px;}