{% spaceless %}
  {% if html -%}
    <span class="djambi-faction-name is-{{ faction.class }}-origin is-{{ faction.control.class }}-side">
  {%- endif -%}
    {{- faction.name -}}
  {% if html -%}
    </span>
  {%- endif%}
{% endspaceless %}