{{ players_table }}
<div class='table is-centered'>
  <div class='table__row'>
    <div class='table__cell is-right-aligned'>
      {{ game_infos }}
    </div>
    <div class='table__cell'>
      {{ grid }}
    </div>
  </div>
</div>
{{ form }}